body{
  font-family: "微软雅黑";
}
    #section_div1 img{
      overflow-y: hidden;
      width: 100%;
      max-height: 500px;
      min-width: 270px;
      background-repeat: no-repeat;
      overflow: hidden;"
    }
    #section_div2 label{
      font-size: 36px;
      font-weight: 100;
      line-height: 60px;
      margin-top: 20px;
    }
    #section_div2 h4{
      font-size: 18px;
      font-weight: bolder;
      color: rgb(73,73,73);
    }
    #section_div2 h5{
      font-size: 16px;
      line-height: 30px;
      color: rgb(105,105,105);
    }
    #section_div3{
      height: 260px;
      overflow: hidden;
      background-size: 120px;
    }
    #section_div3 div div{
      background: none;
      height: 260px;
      transition: background-color 0.5s;
    }
    #section_div3 div div:hover{
      background: rgb(0,136,194);
    }
    #section_div3 div div a{
      display: block;
      margin: 85px auto;
      text-align: center;
      color: white;
    }
    #section_div4{
      width: 80%;
      margin: 0 auto;
    }
    #section_div4 h2{
      font-size: 20px;
      color: rgb(130,130,130);
    }
    #section_div4 label{
      width: 160px;
      font-size: 18px;
      font-weight: 100;
      color: black;
      line-height: 30px;
    }
    #section_div4 input{
      width: 50%;
      border-radius: 3px;
      border: 1px solid gray;
    }

/*    #section_div4 h6{
      margin-left: 160px;
      font-style: italic;
      display: inline;
    }*/
    #section_div4 button:hover{
      background: red;
    }
@media  screen and (min-width:426px ) {
    #section_div4 h6{
      margin-left: 160px;
      font-style: italic;
      display: inline;
    }
    #section_div4 textarea{
      width: 70%;
      border-radius: 3px;
      border: 1px solid gray;
      margin-top: -30px;
      margin-left: 160px;
    }
@media  screen and (max-width:426px ) {
    #section_div4 h6{
      margin-left: 0px;
      font-style: italic;
      display: inline;
    }
    select{
      display: block;
    }
    #section_div4 textarea{
      width: 70%;
      border-radius: 3px;
      border: 1px solid gray;
/*      margin-top: -30px;
      margin-left: 160px;*/
    }
@media  screen and (min-width:730px ) {
    #section_div1 img{
        height: 500px;
        width: 100%;
    }
    #section_div2{
      width: 80%;
      margin: 0 auto;
    }

    
}
@media  screen and (max-width:980px ) {
    #section_div1 img{
        height: 260px;
        width: 100%;
    }
    #section_div2{
      width: 90%;
      margin: 0 auto;
    }
    #section_div3{
      height: 780px;
      background-size: 120px;
    }

}