*{
	padding: 0px;
	margin: 0px;
	font-family: "微软雅黑";
}
#nav1
{
	width: 100%;
	height: 110px;
	background: rgb(53,53,53);
	padding-top: 32px;
}
#header_u1 {

	width: 100%;

}
#header_u1  li{
	list-style: none;
	float: left;
	height: 45px;
	line-height: 45px;
	margin-left: 4%;
}
#header_u1 li a{
	text-decoration: none;
	font-size: 16px;
	color: rgb(255,255,255);
	opacity: 1;
}
#header_u2
{
	margin-left: 85%;
	
}

#header_u2 li a{
	text-decoration: none;
	font-size: 16px;
	color: rgb(255,255,255);
	opacity: 1;
}
#nav_sec
{
	display: none;
	position: relative;
}
#nav_top{
	width: 100%;
	height: 50px;
	line-height: 45px;
	background: rgb(35,30,27);
	font-size: 16px;
	color: white;
	position: absolute;
	z-index: 5;
}
#nav_d2{
	width: 100%;
	height: 75px;
	background: rgb(0,136,194);
	position: relative;
	top: 50px;
	left: 0px;
	z-index: 1;
}


#nav_d2_img1{
	
	margin-top: 15px;
	margin-left: 15px;
}
#nav_d2_img2
{
	float:right;
	width: 89px;
	height: 30px;
	margin-top: 25px;
	margin-right: 25px;
}
#drop_d1{
	width: 100%;
	background: rgb(53,133,190);
	/*margin-top: 15px;*/
	
}
#drop_d1 ul
{
	border: 1px solid rgb(53,133,190);
}
#drop_d1 ul li
{
	list-style: none;
	margin-top: 0px;
	margin-left: 20px;
}
#drop_d1 ul li a
{
	color: white;
	font-size: 16px;
	text-decoration: none;
}
#drop_d1{
	display: none;

	position: relative;
	z-index: 2;
}
#drop_d1 ul
{
	transform: translateY(15px);
}
#nav_d3{
	width: 100%;
	height: 120px;
	position: relative;
	top: 50px;
	left: 0px;
	background: rgb(53,53,53);
}
#section
{
	width: 100%;
	height: 1000px;
	border: 1px solid red;
}

#footer
{
	background: rgb(45,44,44);
}

#footer_d1_u1 li{
	list-style: none;
	float: left;
}
#footer_d1_u1_u1{
	float: none;
}
#footer a
{
	text-decoration: none;
	color: gray;
}
#footer a:hover{
	color: rgb(7,136,179);
}
#footer_d1_u1_u2 li{
	margin-top: 15px;
}
#footer_d1_u1_u3 li{
	margin-top: 15px;
}
#footer_d1_u1_u4 li{
	margin-top: 15px;
}
#ffooter{
	width: 100%;
	background: rgb(45,44,44);
}
.border
	{
		display: block;
		height: 2px;
		width: 55px;
		/*background: rgb(251,176,64);*/
		transform:translateZ(0);
	}
	.border:before
	{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background: white;
		transform:scaleX(0);
		transform-origin:0 50%;
		transition:transform 0.5s;
	}
	.nav-a:hover > .border:before
	{
		transform:scaleX(1);
	}
	.ac .border
	{
		
		background: white;
	}
#navTop{
	width: 100%;
	height: 65px;
	background: rgba(32,29,28,00.8);
	position: fixed;
	top: -70px;
	right: 0px;
	z-index: 5;
	/*display: none;*/
}
#navTop_u1 li
{
	list-style: none;
	float: left;
	margin-right: 35px;
	margin-top: 20px;

}
#navTop_u1 li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}

